service: messagine-bot
app: messagine
org: suphero

frameworkVersion: '2'

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221

package:
  include:
    - src/locales/**

functions:
  status:
    handler: src/handler.statusHandler
    events:
      - httpApi:
          path: /
          method: get
    environment:
      BOT_TOKEN: ${param:BOT_TOKEN}
      ENDPOINT_URL: ${param:ENDPOINT_URL}
      MIXPANEL_TOKEN: ${param:MIXPANEL_TOKEN}
      SENTRY_DSN: ${param:SENTRY_DSN}
      WEBHOOK_PATH: 'api'
      DEBUG: ${param:DEBUG}
      DEBUG_COLORS: 'no'
  webhook:
    handler: src/handler.webhookHandler
    events:
      - httpApi:
          path: /api
          method: post
    environment:
      BOT_TOKEN: ${param:BOT_TOKEN}
      DB_URL: ${param:DB_URL}
      ENDPOINT_URL: ${param:ENDPOINT_URL}
      SENTRY_DSN: ${param:SENTRY_DSN}
      MIXPANEL_TOKEN: ${param:MIXPANEL_TOKEN}
      DEBUG: ${param:DEBUG}
      DEBUG_COLORS: 'no'
  createChatJob:
    handler: src/handler.createChatJobHandler
    events:
      - schedule: rate(${param:CREATE_CHAT_SCHEDULE})
    environment:
      BOT_TOKEN: ${param:BOT_TOKEN}
      DB_URL: ${param:DB_URL}
      ENDPOINT_URL: ${param:ENDPOINT_URL}
      SENTRY_DSN: ${param:SENTRY_DSN}
      MIXPANEL_TOKEN: ${param:MIXPANEL_TOKEN}
      DEBUG: ${param:DEBUG}
      DEBUG_COLORS: 'no'
  chatReminderJob:
    handler: src/handler.chatReminderJobHandler
    events:
      - schedule: rate(${param:CHAT_REMINDER_SCHEDULE})
    environment:
      BOT_TOKEN: ${param:BOT_TOKEN}
      DB_URL: ${param:DB_URL}
      ENDPOINT_URL: ${param:ENDPOINT_URL}
      SENTRY_DSN: ${param:SENTRY_DSN}
      MIXPANEL_TOKEN: ${param:MIXPANEL_TOKEN}
      DEBUG: ${param:DEBUG}
      DEBUG_COLORS: 'no'
