service: messagine-bot
app: messagine
org: suphero

frameworkVersion: '2'

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221

package:
  include:
    - src/locales/**

functions:
  status:
    handler: src/handler.statusHandler
    events:
      - httpApi:
          path: /
          method: get
    environment:
      BOT_TOKEN: ${param:BOT_TOKEN}
      ENDPOINT_URL: ${param:ENDPOINT_URL}
      MIXPANEL_TOKEN: ${param:MIXPANEL_TOKEN}
      WEBHOOK_PATH: 'api'
  webhook:
    handler: src/handler.webhookHandler
    events:
      - httpApi:
          path: /api
          method: post
    environment:
      BOT_TOKEN: ${param:BOT_TOKEN}
      DB_URL: ${param:DB_URL}
      ENDPOINT_URL: ${param:ENDPOINT_URL}
      MIXPANEL_TOKEN: ${param:MIXPANEL_TOKEN}